:root {
  --primary-color: #5FBAA7;
  --background-color: #f4f4f4;
  --text-color: #181818;
}

.darkmode {
  --primary-color: #FFF;
  --background-color: #181818;
  --text-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  /*to fix the sizing of our form elements*/
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

h1 {
  color: var(--primary-color);
}

p {
  color: var(--text-color);
  text-align: center;
}

.fa-lightbulb {
  /* Light Build Icon*/
  font-size: 35px;
  color: var(--text-color);
}

#dark-mode-toggle {
  position: fixed;
  right: 45px;
  top: 35px;
}

#rate {
  /*The rate font color*/
  color: var(--text-color);
}

#change-theme p {
  margin: 0;
  color: red;
}

.btn {
  color: #fff;
  background: #5FBAA7;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;
}

.money-img {
  width: 150px;
}

.currency {
  padding: 40px 0;
  display: flex;
  /*To make sure they are both aligned*/
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.currency input {
  border: 0;
  background-repeat: transparent;
  font-size: 30px;
  text-align: right;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swap-rate-container #clear {
  margin-right: 185px;
}

.rate {
  color: var(--primary-color);
  font-size: 14;
  padding: 0px 10px;
}

.select2-results__option {
  /*Background color for select2 dropdown*/
  background-color: #D3D3D3;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: yellowgreen;
  color: white;
}
.select2-container--default{
  margin-right: 25px;
}

input {
  /* margin-left: 25px; */
  /* padding: 0 10px; */
  width: 80%;
}

@media (max-width: 600px) {

  #dark-mode-toggle {
    position: fixed;
    right: 25px;
    top: 25px;
  }

  h1 {
    font-size: 1.7em;
  }

  .swap-rate-container #clear {
    margin-right: 35px;
  }

  .currency input {
    width: 60%;
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 1.2em;
  }
  .currency input {
    font-size: 16px;
  }

  .btn{
    padding: 3px 6px;
  }

  .swap-rate-container #clear {
    margin-right: 15px;
  }
}

@media (max-width: 320px) {
  .swap-rate-container #clear {
    margin-right: 0px;
  }
}
